<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>

<% @questions.each do |q| %> 
	<%= q.content %> <br/>
	<%= q.option1 %> 
	<%= q.option2 %> 
	<%= q.option3 %> 
	<%= q.option4 %> 
	<%= q.correct_answer %> 
	<br/><br/>
<% end %> 

<%= link_to "new question", new_question_path %> 