<h1>Questions#new</h1>
<p>Find me in app/views/questions/new.html.erb</p>

<%= form_with model: @question, class: "nice-form" do |q| %> 
	<%= q.label :content, "Your question" %> 
	<%= q.text_field :content, placeholder: "Type in the question", size: "60x20" %> 

	<br/>
	<%= q.label :option1, "A" %> 
	<%= q.text_field :option1, placeholder: "Insert Option 1", size: "60x20" %> 

	<br/>
	<%= q.label :option2, "B" %> 
	<%= q.text_field :option2, placeholder: "Insert Option 2", size: "60x20" %> 

	<br/>
	<%= q.label :option3, "C" %> 
	<%= q.text_field :option3, placeholder: "Insert Option 3", size: "60x20" %> 

	<br/>
	<%= q.label :option4, "D" %> 
	<%= q.text_field :option4, placeholder: "Insert Option 4", size: "60x20" %> 

	<br/>
	<%= q.label :correct_answer, "Type only one letter which is the correct answer" %> 
	<%= q.text_field :correct_answer, placeholder: "type 'a', 'b', 'c' or 'd'", size: "20x20" %> 

	<br/>

	<%= q.submit "Submit" %> 

<% end %> 


