<h1>StudentTests#show</h1>
<p>Find me in app/views/student_tests/show.html.erb</p>

<p>Student id is:  <%= @student.id if @student.id %></p>
<p>Test id is: 	   <%= @test.id if @test.id %></p>
<p>StudentTest is: <%= @student_test_without_question_answers.id %></p>

<!-- Later we need to iterate over student's answers and questions and preferably also check if 
	they are correct and also maybe show the time the student took to solve the test --> 

<p>Student's answers are:</p>
 <% @question_answers.each do |qa| %>
 <%= q = Question.find(qa.question_id)%>
 <p>Question: <%= q.content %> <p>
 <p>Student's Answer: <%= Answer.find(qa.answer_id) %><p>
 <p>Correct Answer: <%= q.correct_answer %></p>
 <br/>
<% end %> 