<h1>Student profile page</h1>


<p>Student's name: <%= @student.name ? @student.name : "No name specified" %><p> 
<p>Student's group: <%= @student.group ? @student.group.name : "No group specified" %><p>

<% unless @student.group.tests.blank? %> 
	<% @student.group.tests.each do |test| %> 
			<!-- <p> Test id is: <%= test.id %> </p> -->
			<p>Take the test called <%= test.test_name %> by clicking the link: <%= link_to "Link to student's test", take_exam_student_test_path(@student, test) %></p>
	<% end %>
<% else %> 	
	<p> Currently there are no new tests </p>
<% end %>
<br/>
<p><%= link_to "Click here to logout", controller: "access", action: "logout" %></p>




