<!DOCTYPE html>
<html>
  <head>
    <title>Teacheroo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash notice" , id:"flash_notice" %>
    <% end %>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
